<h1>Users</h1>
<body>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Carne</th>
                <th scope="col">Usuario</th>
                <th scope="col">Email</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Rol</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody *ngFor="let user of usuarios">
            <tr *ngIf='user.rol == "user"'>
                <td scope="row">{{user._id}}</td>
                <td>{{user.carne}}</td>
                <td>{{user.user}}</td>
                <td>{{user.email}}</td>
                <td>{{user.nombre}}</td>
                <td>{{user.apellido}}</td>
                <td>{{user.rol}}</td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-warning">Editar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </div>
            </tr>
        </tbody>
    </table>
</body>