<body>
  <article>
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-lg-6">
          <form class="was-validated" novalidate>
            <h1>Registrate ya</h1>
            <div class="mb-3">
              <label>Carne</label>
              <input type="text" class="form-control" name="carne" #name="ngModel" [(ngModel)]="userModel.carne" required>
              <div class="invalid-feedback">Por favor ingresa tu carne</div>
            </div>
            <div class="mb-3">
              <label>Email</label>
              <input type="email" class="form-control" name="email" #name="ngModel" [(ngModel)]="userModel.email" required>
              <div class="invalid-feedback">Por favor ingresa tu correo</div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <label>Nombre</label>
                <input type="text" class="form-control" name="nombre" #name="ngModel" [(ngModel)]="userModel.nombre" required>
                <div class="invalid-feedback">Por favor ingresa tu nombre</div>
              </div>
              <div class="col">
                <label>Apellido</label>
                <input type="text" class="form-control" name="apellidp" #name="ngModel" [(ngModel)]="userModel.apellido" required>
                <div class="invalid-feedback">Por favor ingresa tu apellido</div>
              </div>
            </div>
            <div class="mb-3">
              <label>Password</label>
              <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="userModel.password" required>
              <div class="invalid-feedback">Por favor ingresa tu contraseña</div>
            </div>
            <div class="mb-3">
              <label>No compartas tus credenciales con nadie.</label><br>
              <a class="fw-bold" routerLink="/login" routerLinkActive="active">Ya tengo una cuenta</a><br>
              <button type="submit" class="btn btn-primary" (click)="register()">Registrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </article>
</body>